<div ng-controller="musicPlayerCtrl">
    <i class="explore-icon"></i>
    <div class="music-player-wrapper">
        <div class="left-wrapper">
            <div class="user-info">
                <img class="profile-pic" src="https://img.fireden.net/v/image/1496/71/1496712223248.jpg" width="55" height="55"><span class="user-name">Felix Wayan</span>
            </div>
            <div class="main-menu">
                <ul>
                    <li class="menu-list-header">Menu</li>
                    <li class="menu-list"><i class="explore-icon"></i>Explore</li>
                    <li class="menu-list"><span class="genres-icon"></span>Genres</li>
                    <li class="menu-list"><i class="artists-icon"></i>Artists</li>
                    <li class="menu-list"><i class="albums-icon"></i>Albums</li>
                    <li class="menu-list"><i class="setting-icon"></i>Setting</li>
                </ul>
            </div>
            <div class="main-menu">
                <ul>
                    <li class="menu-list-header">PlayList</li>
                    <li ng-click="likedPlaylist()" class="menu-list"><i  class="liked-icon"></i>Liked</li>
                    <li class="menu-list"><i class="classic-icon"></i>Classic Music</li>
                    <li class="menu-list"><i class="new-play-icon"></i>New PlayList</li>
            </div>
        </div>
        <div class="right-wrapper">
            <div class="search-box-style">
                <div class="search-box-wrapper">
                    <div class="search-box1">
                        <input type="text" ng-model="searchText" class="search-input" placeholder="Search" />
                        <i class="search-icon" ng-click="search()"></i>
                        <div ng-click="playSong(searchMusic,false,searchedSongs)" ng-repeat="
                        searchMusic in searchedSongs">
                            <div class="search-song-text">
                                {{searchMusic.album_name}} {{searchMusic.file_name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="albums-wrapper">
                <div class="heading">Featured Albums</div>
                <div class="card-wrapper">
                    <div ng-click="playSong(music,false,featuredAlbumData)" ng-repeat="music in featuredAlbumData.songs" class="card head-padding text-center">
                        <img class="card-img" ng-src="{{music.img_url}}">
                        <div class="card-album">{{music.album_name}}</div>
                        <div class="card-name" ng-bind="music.file_name"></div>
                    </div>
                </div>
            </div>
            <div class="albums-wrapper">
                <div class="heading">Recently Played</div>
                <div class="card-wrapper">
                    <div ng-click="playSong(md,false,recentlyPlayedData)" ng-repeat="md in recentlyPlayedData.songs" class="card head-padding text-center">
                        <img class="card-img"  ng-src="{{md.img_url}}">
                        <div class="card-album">{{md.file_name}}</div>
                        <div class="card-name" ng-bind="md.album_name"></div>
                    </div>
                </div>
            </div>
            <div class="currently-playing-wrapper">
                <div class="common-style album-info">
                    <img  src="https://images-na.ssl-images-amazon.com/images/I/61iBs%2BWsP8L._SS500.jpg"  ng-src="{{currentSong.img_url}}">
                    <span class="current-text">{{currentSong.file_name}}</span>
                    <p class="current-song-text">{{currentSong.album_name}}</p>
                    </span>
                    <audio id="audioPlayer" ng-src="{{currentSong.music_path}}" type="audio/mpeg" controls autoplay></audio>
                </div>
                <div class="common-style audio-player-wrapper">
                    <div class="slider common-style">
                        <div class="current-time common-style">{{currentSongObj.mins}}:<span ng-show="currentSongObj.secs.length==1">0</span>{{currentSongObj.secs}}</div>
                        <div id="songBar" class="ldBar common-style"></div>
                        <div class="total-time common-style">{{currentSong.total_time}}</div>
                    </div>
                    <div class="controls common-style">
                        <div class="prev-control common-style"> <i ng-click="playPrevSong(currentSong)" class="prev-icon"></i></div>
                        <div ng-hide="!hide" class="play-control common-style" ng-click="pauseSong(currentSong)"><i class="pause-icon"></i></div>
                        <div ng-hide="hide" class="play-control common-style" ng-click="playSong(currentSong)"><i class="play-icon"></i></div>
                        <div class="next-control common-style"><i ng-click="playNextSong(currentSong)" class="next-icon"></i></div>
                    </div>
                    <div class="volume common-style">
                        <div ng-hide="hidemuteicon" class="common-style"><i class="vol-icon" ng-click="mute(true)"></i>
                        </div>
                        <div ng-hide="!hidemuteicon" class="common-style"><i class="mute-icon" ng-click="mute(false)"></i>
                        </div>
                    </div>
                    <div class="extra-features common-style">
                        <div ng-show="currentSong.fav_value == false" class="fav common-style"><i ng-click="fav(currentSong,true)" class="unfav-icon"></i></div>
                        <div ng-show="currentSong.fav_value == true" class="fav common-style"><i ng-click="fav(currentSong,false)" class="fav-icon"></i></div>
                        <div class="shuffle common-style"><i ng-click="shuffle()" class="shuffle-icon"></i></div>
                        <div class="replay common-style"><i ng-click="repeat()" class="replay-icon"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="!hideLiked" class="likedPlaylistBox">
        <div class="likedPlaylist">
            <i class="clear-icon" ng-click="back()"></i>
            <div class="favListStyle">
                <div class="favListBox" ng-repeat="music in favList.songs">
                    <div><img class="fav-card-img" ng-src="{{music.img_url}}" ng-click="playSong(music,false,favList)">
                        <div ng-show="music.fav_value == false" class="unfav1 common-style"><i ng-click="fav(music,true)" class="fav1-icon"></i></div>
                        <div ng-show="music.fav_value == true" class="fav common-style"><i ng-click="fav(music,false)" class="fav1-icon"></i></div>
                    </div>
                    <div class="fav-card-singer-name">{{music.album_name}}</div>
                    <div class="fav-card-name" ng-bind="music.file_name"></div>
                </div>
            </div>
        </div>
    </div>
</div>