@import url('https://fonts.googleapis.com/css?family=Raleway');
.music-player-wrapper {
  padding: 0 20px;
}
.music-player-wrapper .left-wrapper {
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  width: 17%;
  float: left;
}
.music-player-wrapper .left-wrapper .user-info {
  position: relative;
}
.music-player-wrapper .left-wrapper .user-info .profile-pic {
  border-color: #f2f2f2;
  border-radius: 50%;
  border: 3px solid #b7b7b740;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.music-player-wrapper .left-wrapper .user-info .user-name {
  position: absolute;
  top: 25px;
  font-size: larger;
  margin-left: 15px;
}
.music-player-wrapper .left-wrapper .main-menu {
  padding-bottom: 30px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list-header {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #0c2148;
  display: block;
  font-size: 24px;
  font-weight: 600;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list {
  padding-bottom: 10px;
  display: block;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .explore-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url('../img/search.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .genres-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url('../img/guitar.svg');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px 5px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .artists-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/microphone.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .albums-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/disc.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .setting-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/settings.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .liked-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url(../img/album.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .classic-icon {
  display: inline-block;
  height: 23px;
  width: 20px;
  background-image: url(../img/album.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .left-wrapper .main-menu .menu-list .new-play-icon {
  display: inline-block;
  height: 21px;
  width: 19px;
  background-image: url(../img/plus.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 5px;
}
.music-player-wrapper .right-wrapper {
  width: 82%;
  float: left;
  margin-bottom: 105px;
}
.music-player-wrapper .right-wrapper .search-box-style {
  padding-top: 20px;
  padding-right: 75px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box1 {
  float: right;
  border: 1px solid #d4d4de;
  border-radius: 5px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box1 .search-input {
  width: 250px;
  height: 30px;
  background-color: rgba(228, 224, 224, 0.2);
  border: 0px;
  border-right: 1px solid #ccc;
  padding-left: 10px;
}
.music-player-wrapper .right-wrapper .search-box-style .search-box-wrapper .search-box1 .search-icon {
  display: inline-block;
  height: 20px;
  width: 30px;
  background-image: url(../img/search.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
.music-player-wrapper .right-wrapper .albums-wrapper {
  padding-top: 35px;
  color: #2b4474;
  font-family: 'Roboto', sans-serif;
}
.music-player-wrapper .right-wrapper .albums-wrapper .heading {
  font-size: 36px;
  padding: 20px;
  font-weight: bold;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper {
  width: 100%;
  padding-left: 20px;
  display: inline-block;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card {
  width: 20%;
  display: inline-block;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card .card-album {
  font-size: 20px;
  font-weight: 500;
}
.music-player-wrapper .right-wrapper .albums-wrapper .card-wrapper .card .card-img {
  border-radius: 5px;
  width: 170px;
  height: 170px;
}
.music-player-wrapper .currently-playing-wrapper {
  background-color: white;
  padding: 15px 30px;
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
.music-player-wrapper .currently-playing-wrapper audio {
  display: none;
}
.music-player-wrapper .currently-playing-wrapper .common-style {
  display: inline-block;
  padding-left: 0px;
}
.music-player-wrapper .currently-playing-wrapper .album-info {
  width: 15%;
}
.music-player-wrapper .currently-playing-wrapper .album-info .current-text {
  padding-top: 13px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
}
.music-player-wrapper .currently-playing-wrapper .album-info .current-song-text {
  padding-left: 80px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  padding-top: 20px;
}
.music-player-wrapper .currently-playing-wrapper .album-info img {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 5px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider {
  display: inline-block;
  padding-left: 30px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .ldBar-label {
  visibility: hidden;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .total-time {
  display: inline-block;
  float: right;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider .current-time {
  display: inline-block;
  float: left;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .slider progress {
  display: inline-block;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls {
  padding-right: 30px;
  padding-left: 30px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .prev-icon {
  padding-left: 20px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fast-forward.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
  transform: rotateY(180deg);
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .play-icon {
  display: inline-block;
  height: 47px;
  width: 40px;
  background-image: url(../img/play.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .pause-icon {
  display: inline-block;
  height: 47px;
  width: 40px;
  background-image: url(../img/pause.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .controls .next-icon {
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fast-forward.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 80px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume {
  padding-right: 20px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume .vol-icon {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-image: url(../img/volume.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .volume .mute-icon {
  display: inline-block;
  height: 40px;
  width: 60px;
  background-image: url(../img/mute.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 15px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .unfav-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/like.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .fav-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/fav.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .shuffle-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/arrow-shuffle.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
  margin-right: 25px;
}
.music-player-wrapper .currently-playing-wrapper .audio-player-wrapper .extra-features .replay-icon {
  padding-right: 10px;
  display: inline-block;
  height: 40px;
  width: 35px;
  background-image: url(../img/icon.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
}
::placeholder {
  color: #363b75;
  opacity: 2px;
}
.likedPlaylistBox {
  width: 100%;
  background: #00000085;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.likedPlaylistBox .likedPlaylist {
  width: 70%;
  height: 70%;
  background: white;
  margin: auto;
  margin-top: 7.5%;
  border-radius: 4px;
}
.likedPlaylist {
  padding-left: 30px;
  padding-top: 20px;
}
.likedPlaylist .clear-icon {
  padding-right: 10px;
  display: inline-block;
  float: right;
  height: 40px;
  width: 35px;
  background-image: url(../img/clear.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0px 6px;
}
.likedPlaylist .favListStyle .favListBox {
  padding-right: 40px;
  display: inline-block;
}
.likedPlaylist .favListStyle .favListBox .fav-card-img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.likedPlaylist .favListStyle .favListBox .fav-card-singer-name {
  font-size: 20px;
  font-weight: 500;
  color: #00134d;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}
.likedPlaylist .favListStyle .favListBox .fav-card-name {
  font-size: 15px;
  font-weight: 400;
  padding-left: 5px;
  color: #00134d;
  font-family: 'Roboto', sans-serif;
}
.unfav1-icon {
  padding-right: 10px;
  display: inline-block;
  height: 39px;
  border-radius: 66%;
  background-color: aliceblue;
  width: 29px;
  float: right;
  background-image: url(../img/like.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  margin-right: 25px;
  transform: translate(50%, -508%);
}
.fav1-icon {
  padding-right: 10px;
  display: inline-block;
  height: 39px;
  border-radius: 66%;
  background-color: aliceblue;
  width: 29px;
  float: right;
  background-image: url(../img/fav.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
  margin-right: 25px;
  transform: translate(50%, -508%);
}
[ng-click] {
  cursor: pointer;
}
.search-song-text {
  background-color: rgba(228, 224, 224, 0.2);
  padding-left: 10px;
}
.ldBar-label {
  visibility: hidden;
}
.bodyc {
  margin: -8px;
  padding: 0;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #282747, #3f3d70);
}
.ui-container {
  width: 50%;
  height: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 189px -41px rgba(0, 0, 0, 0.75);
  transition: all 300ms ease-in-out;
}
.left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #282747, #3f3d70);
  overflow: hidden;
}
.big-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.big-image img {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.big-image img:hover {
  transform: translate(-50%, -50%) rotate(10deg);
}
.star {
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: staranimation 3s linear;
}
.star:nth-child(1) {
  top: 10%;
  left: 10%;
  width: 2.5px;
  height: 2.5px;
}
.star:nth-child(2) {
  top: 90%;
  left: 75%;
  width: 8px;
  height: 8px;
}
.star:nth-child(3) {
  top: 35%;
  left: 85%;
}
.star:nth-child(4) {
  top: 90%;
  left: 10%;
  width: 10px;
  height: 10px;
}
.star:nth-child(5) {
  top: 30%;
  left: 35%;
  width: 4px;
  height: 4px;
}
.star:nth-child(6) {
  top: 55%;
  left: 10%;
  width: 5px;
  height: 5px;
}
.star:nth-child(7) {
  top: 5%;
  left: 90%;
  width: 2.5px;
  height: 2.5px;
}
@keyframes staranimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.shooting-star {
  width: 125px;
  height: 1px;
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0.25;
}
#st-one {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: shootingstaranimationvone 5s linear infinite;
  animation-delay: 5s;
}
#st-two {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: shootingstaranimationvtwo 5s linear infinite;
  animation-delay: 3s;
}
@keyframes shootingstaranimationvone {
  0% {
    top: 0%;
    left: 50%;
  }
  100% {
    top: 45%;
    left: -20%;
  }
}
@keyframes shootingstaranimationvtwo {
  0% {
    top: 0%;
    left: 140%;
  }
  100% {
    top: 100%;
    left: -10%;
  }
}
.title {
  width: 100%;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
}
.right-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #282747;
  overflow: hidden;
}
.login-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.username-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 150px;
}
.password-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
.binput {
  width: 100%;
  position: relative;
}
.binput:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3f3d70;
}
.binput:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #5c589e;
  transition: all 300ms ease-in-out;
}
.binput:hover:after {
  width: 100%;
}
.lod input {
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.5px;
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}
.lod input::placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2.5px;
  transition: all 300ms ease-in-out;
}
.btn-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  text-align: left;
}
.btn {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  display: inline-block;
  width: 40%;
  padding: 10px 0;
  border: 1px solid #3f3d70;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  transition: all 300ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #524f89;
  transition: all 300ms ease-in-out;
}
.btn:hover:before {
  width: 100%;
}
.forgot-pw {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-top: 100px;
  text-align: center;
  letter-spacing: 2.5px;
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}
.forgot-pw:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background-color: #3f3d70;
  transition: all 300ms ease-in-out;
}
.forgot-pw:hover:before {
  width: 12.5%;
}
.small-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.small-image img {
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  opacity: 0.25;
}
.small-image img:hover {
  transform: translate(-50%, -50%) rotate(10deg);
}
@media only screen and (max-width: 1400px) {
  .ui-container {
    width: 75%;
  }
  .big-image img {
    width: 50%;
    height: 50%;
  }
  .title {
    font-size: 28px;
  }
  input,
  input::placeholder {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
  }
  .forgot-pw {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-height: 600px) {
  .ui-container {
    width: 40%;
    height: 400px;
  }
  .big-image img {
    width: 50%;
    height: 50%;
  }
  .title {
    font-size: 28px;
  }
  input,
  input::placeholder {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
  .username-container {
    margin-top: 125px;
  }
  .forgot-pw {
    margin-top: 50px;
    font-size: 12px;
  }
}
@media only screen and (max-height: 400px) {
  .title {
    font-size: 24px;
  }
  .ui-container {
    width: 30%;
    height: 300px;
  }
  .big-image img {
    width: 50%;
    height: 50%;
  }
  .username-container {
    margin-top: 75px;
  }
  input,
  input::placeholder {
    font-size: 12px;
  }
  .btn {
    font-size: 8px;
    padding: 5px 0;
    margin-right: 5px;
    margin-top: 0px;
  }
  .forgot-pw {
    margin-top: 35px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .ui-container {
    width: 50%;
  }
  .big-image img {
    width: 50%;
    height: 50%;
  }
  .title {
    font-size: 28px;
  }
  input,
  input::placeholder {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
  }
  .forgot-pw {
    margin-top: 20px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  .ui-container {
    width: 85%;
    height: 325px;
  }
  .big-image img {
    width: 50%;
    height: 50%;
  }
  .title {
    font-size: 28px;
  }
  .username-container {
    margin-top: 85px;
  }
  input,
  input::placeholder {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
    padding: 5px 0;
    margin-right: 5px;
    margin-top: 0px;
  }
  .forgot-pw {
    margin-top: 40px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .ui-container {
    width: 85%;
    height: 350px;
  }
  .big-image img {
    width: 75%;
    height: 50%;
  }
  .title {
    font-size: 18px;
  }
  input,
  input::placeholder {
    font-size: 14px;
  }
  .btn {
    font-size: 10px;
    padding: 5px 0;
    margin-right: 5px;
    margin-top: 0px;
  }
  .forgot-pw {
    margin-top: 20px;
    font-size: 12px;
  }
}
